body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #001200;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.screen {
    display: none;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}
.screen.active {
    display: block;
}
h1 {
    color: #000063;
    font-size: 1.5em;
}
input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000063;
    border-radius: 5px;
    background-color: #000063;
    color: white;
    width: 90%;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #046de5;
    color: #ffffff;
}
#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answer-btn {
    background-color: #e6e6fa;
    color: #000063;
    border: 1px solid #000063;
    padding: 10px;
    font-size: 16px;
}
.answer-btn:disabled {
    background-color: #ff0000;
    color: #ffffff;
}
.answer-btn.correct {
    background-color: #00ff00;
}
#timer {
    font-weight: bold;
    margin: 10px 0;
    color: #000063;
    font-size: 1.2em;
}
#leaderboard, #leaderboard-details {
    margin-top: 20px;
    color: #000063;
    font-size: 1.1em;
}
#leaderboard p, #leaderboard-details p {
    margin: 5px 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
#logo {
    max-width: 100px;
    margin-bottom: 20px;
}