body {
    margin: 20px;
    font-family: sans-serif;
}

div {
    margin-bottom: 20px;
    padding: 10px;
}

h1, h2, p {
    margin: 10px 0;
}

label {
    display: inline-block;
    margin-right: 10px;
}

input, select {
    margin: 5px 0;
    padding: 5px;
}

button {
    margin: 5px;
    padding: 10px;
}

#answers button {
    display: block;
    margin: 5px 0;
    padding: 10px;
}